html, body {

	margin:0;
	padding:0;
	background-color:lightgrey;
	height:100%;
	width:100%;
	font-family:"helvetica";
}

#navbar {
	 width:100%;
	 height:75px;
	 background-color:#F1F1F1;
	 min-width: 600px;
	 text-align:center;
	 margin:0;
	 padding-top: 1px
	}

#navbar > ul > li {
	list-style: none;
	display: inline-block;
	float:right;
	padding-top:10px;
	font-size:20px;

}


#navbar > ul > li > a {
	text-decoration:none;
	color:black;
	padding: 41px 60px;
	transition: .3s;
}

#navbar > #logo {
	float:left;
	height:75px;
	padding-top:0px;
}

#section1 {
	margin:0;
	padding:0;
	background-color:#a3bfe3;
	height:100%;
	width:100%;
}

#section2 {
	margin:0;
	padding:1px;
	background-color:#bad6c9;
	height:100%;
	width:100%;
}

h1 {
	padding:0;
	margin:0;
}
/*end navbar*/

#footer {
	
   bottom:0;
   position:relative;
   width:100%;
   height:60px;  
   padding-top:18.5px;
	padding-bottom:65px;
   background:#f1f1f1;

}
#footer > p {
	text-align:center;

}